<div
  style="
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  "
>
  <div class="form-group">
    <input
      type="text"
      placeholder="Type to search for an artists"
      formControlName="artistName"
    />
    <button type="button" (click)="search('adam%20levine')">Search</button>
  </div>
  <div>
    <label>Artist result</label>
    <ul>
      <!-- <li *ngFor="let artist of artists">
        <a [routerLink]="['/artist', artist.id]">{{ artist.name }}</a>
      </li> -->
    </ul>
  </div>
  <div>
    <label>Artist Top Track</label>
    <ul>
      <!-- <li>
        <a [routerLink]="['/about']">About</a>
      </li> -->
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
